html {
  padding: 5% 20% 0 20%;
  max-width: 800px;
  font-size:120%
}

h1 {
  font-size:250%
}

h2 {
  font-size:170%;
  text-transform: uppercase;
  font-style: italic;
  font-family: sans;
}

li {
  padding-top: 10px;
}

h3 {
  font-style: italic;
  font-size:140%;
  margin:3%
}